*{
    box-sizing: border-box;
    padding: 0;
}

/*p{
    font-size: 20px;
    text-align: justify;
    color: white;
    background-color: white;
}
*/ 

#parrafo2{
    background-color: goldenrod;
}

.destacado{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
   text-align: justify;
   background-color: tomato; 
   color: white;
}

#fijo{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.pagina{
    background-image: url("fashion.jpdg"); /*Ruta relativa*/
    background-size: cover;
    background-attachment: fixed;
}



#nombre{
    color: white;
    font-size: 60px;
    font-family: fantasy;
    /*background-color: #5c6bc0;*/
    /*background-color: rgb(red, green, blue);*/
    background-color: rgba(0, 0, 0,0.3);
}

#subtitulo{
    color: yellowgreen;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 400px;
    /*margin-left: 100px;*/  /*Esto es para mover a la derecha */ 
}

#correo{
    background-color: tomato;
    /*display: block;*/
}

/*Aquí detallo el CSS de mi pagina de contacto.html */
.titulo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    /*text-align: center;*/

}

label{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Detallo el CSS del Formulario*/
/*Un elemento en bloque, posee: largo - ancho -relleno - borde - margen*/
.cajaFormulario{
    background-color: rgba(122, 200, 130, 0.3);
    width: 30%;    /*Unidades de medidas en css:  px - em - rem  - % */
    height: 540px;
    /*padding: arriba - abajo - izquierda - derecha;*/
    padding: 20px;
    border: red 5px double;
    /*margin: arriba - abajo - izquierda - derecha ;*/
    margin-left: 240px;
    margin-top: 20px;
    text-align: center;
}

h1{
    color:rgb(255, 255, 255);

}
h2{
    color:green
}
h3{
    color:orange
}  

/*Seleccion por ID, Solo se puede usar en ID del html*/
#enc-2{
    color:red;
    font-size: 20px;
    font-weight: bold;
}
/*Seleccion por clase. Crear clase, se puede usar en clase del html*/
.enc-1{
    color:rgb(22, 22, 105);
    font-size: 20px;
    font-weight: bold;
}

body{
    background-color: rgb(0, 0, 0);
    color: rgb(246, 153, 153);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.header{

    background-color:#004aad;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 10px; /*Espacio entre el texto y el borde*/
}

.menu{
    background-color: #fbfbfb;
    color: rgb(0, 0, 0);
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    height: 50px auto; /*Altura del menu*/
    width: 90%; /*Ancho del menu*/
    margin: 20px auto; /*Espacio entre el texto y el borde*/
    border-radius: 30px; /*Esquinas redondeadas*/
    align-items: center;
    text-align: center;
    justify-content: center; /* Centra horizontalmente */
    padding: 0;
    display: flex; /* Usar flexbox para centrar el contenido */
    gap: 20px; /* Espacio entre los elementos del menú */
    display: flex;
    flex-wrap: wrap;
}

.menu a {
    flex: 1; /* <<< Distribuye el ancho de forma equitativa */
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 100%;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #e0e0e0;
    border-radius: 30px;
}

.contenido{                                                

    font-family: 'Luxurious Roman', serif !important;
    width: 25%;
    height: 400px;
    float: left;
    margin-left: 10%;
    overflow-wrap: break-word;
    font-size: clamp(12px, 2.5vw, 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;

}

.imagenes{                                                

    float: left; /*Hacer que los divs floten a la izquierda*/
    margin-left: 3%;
    margin-top: 10%;
}


.contenido2{
    background-color: #fbfbfb;
    color: rgb(0, 0, 0);
    font-family: 'Quicksand',Arial, Helvetica, sans-serif;
    font-size:auto;
    height: auto; /*Altura del menu*/
    width: 50%; /*Ancho del menu*/
    margin-top: 70px; /*Espacio entre el texto y el borde*/
    
    border-radius: 20px; /*Esquinas redondeadas*/
    align-items: center;
    text-align: center;
    justify-content: center; /* Centra horizontalmente */
    padding: 0;
    float: left; /*Hacer que los divs floten a la izquierda*/
    display: flex; /* Usar flexbox para centrar el contenido */
}

.footer{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size:auto;
    height: auto; /*Altura del menu*/
    width: 50%; /*Ancho del menu*/
    margin-top: 70px; /*Espacio entre el texto y el borde*/
    margin-left:30%; /*Espacio entre el texto y el borde*/
    border-radius: 20px; /*Esquinas redondeadas*/
    align-items: center;
    text-align: center;
    justify-content: center; /* Centra horizontalmente */
    padding: 0;
    float: left; /*Hacer que los divs floten a la izquierda*/
}